<form class="{{cssClass}} wildtalents ore-set-face-dialog">
    <div class="hbox vgap16">
        <div class="nowrap grow">{{localize "WT.ORESetFaceDialog.Face"}}: </div>
        <input class="grow" type="number" name="face" value="{{face}}" min="1" max="10">
    </div>
</form>
